<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        body{background: skyblue; color: white}
        h1{text-align: center};
        h2{text-align: center};
        p, li{text-align: center};
    </style>
</head>
<body>
    <% include partials/nav.ejs %>
    <h1>THIS IS A PROFILE OF <%= person %> </h1>
    <p> <strong>Age:</strong> <%=data.age%> </p>
    <p> <strong>Job:</strong> <%=data.job%> </p>
    <h2> Hobbies</h2>
    <ul>
        <% data.hobbies.forEach( a => { %>
        <li> <%= a %></li>
        <% }) %>
    </ul>
</body>
</html>























